.table-container {
  margin-left: 5%;
  margin-right: 5%;
}
.table-header {
  background-color: darkgray;
}

.tableStyle {
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 8px;
  width: 300px;
  font-size: 16;
  display: flexbox;
  text-align: center;
  justify-content: flex-start;
  flex: 1;
}
tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  border: #282c34;
}
th {
  background-color: grey;
  color: white;
}
tbody {
  /* display: block; */
  height: 250px;
  overflow: auto;
  height: 60%;
  width: 100%;
  padding: 8px;
  align-items: center;
}
